#root {
  background-image: url('/wall.jpg');
  background-repeat: repeat;
  width: calc(100vw - 2rem * 2);
  height: calc(100vh - 2rem * 2);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
    width: 9vw;
    height: calc(9vw * 312 / 224);
    vertical-align: top;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.pile-card, .pile-flip-card {
  width: 9vw;
  height: calc(9vw * 312 / 224);
  margin-top: -11vw;
  position: relative;
}

.pile-card div {
  position: absolute;
}

.pile-flip-card {
    transform-style: preserve-3d;
}

.pile-flip-card div {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pile-flip-card-front {
    transform: rotateY(180deg);
}

@keyframes animation-flip {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(180deg);}
}

#stock {
    width: 25%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

#stock .card {
  margin-left: -8.8vw;
}

svg {
  width: 9vw;
  height: calc(9vw * 312/ 224);
}

.no-card {
  width: 9vw;
  height: calc(9vw * 312 / 224);
  position: relative;  
}

.emptycard {
  width: 9vw;
  height: calc(9vw * 312 / 224);
  rx: 4;
  ry: 4;
  stroke: #ddd;
  fill: #000;
  fill-opacity: 0.1;
}

.pile {
    height: 600px;
    display: flex;
    flex-flow: column;
    margin-left: 2px;
    margin-right: 2px;
    text-align: start;
}

.tableau {
    display: flex;
    flex-flow: row;
}

.table .message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.message .text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: rgba(250, 250, 250, 1);
  font-size: 6rem;
  text-align: center;
  text-shadow: 0px 0px 10px yellowgreen;
}

#movingpile {
  flex-flow: column;
  position: absolute;
  pointer-events: none;
  touch-action: none;
}

#movingpile .card {
  margin-top: -11vw;
}

#firstRow {
    display: flex;
    flex-flow: row;
}

#foundations {
    width: 75%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

.movingFoundation {
  flex-flow: column;
  position: absolute;
  pointer-events: none;
}

.movingFoundation .card {
  margin-top: -11vw;
  animation: animation-set-foundation 0.3s forwards;
}

@keyframes animation-set-foundation {
  0% {margin-top: -11vw;}
  100% {margin-top: calc(-9vw * 312/ 224);}
}
